<template>
    <div id="customer-main" class="row justify-content-center">
        <div class="col-12">
            <div class="page-heading">
                <h2 class="text-center">Customers</h2>
            </div>
            <div class="page-content">
                <CustomerList></CustomerList>
            </div>
        </div>
    </div>
</template>

<script>
    import CustomerList from './CustomerList';

    export default {
        name: "CustomerMain",
        components: {
            CustomerList
        }
    }
</script>

<style scoped>

</style>
