<template>
    <div class="card mt-1 mb-1">
        <div class="card-header">
            <h3>{{customer.name}}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p><i class="fa fa-phone"></i> {{customer.phone}}</p>
                </div>
                <div class="col">
                    <p><i class="fa fa-envelope"></i> {{customer.email}}</p>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomerCard",
        props: [
            'customer'
        ]
    }
</script>

<style scoped>

</style>
