<template>
    <div id="customer-list" class="row">

        <div v-if="customers.length<1" class="col-12">
            <h6 class="text-center alert alert-secondary">No Customers Found</h6>
        </div>
        <div v-for="(customer, key) in customers" class="col-md-4">
            <CustomerCard :customer="customer"/>
        </div>

    </div>
</template>

<script>
    import CustomerCard from './CustomerCard';
    import {getCustomer} from './../../helpers/customer';
    export default {
        name: "CustomerList",
        components: {
            CustomerCard,
        },
        data() {
            return {
                customers: [],
                error: null,
            };
        },
        methods: {
            getData(){
                getCustomer()
                    .then(response =>{
                        this.customers = response.customers;
                    })
                    .catch(error => {
                        this.error = error;
                    });
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
