<template>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <select name="restaurant" class="form-control" v-model="restaurantId">
                    <option value="">Select Restaurant</option>
                    <option v-for="(restaurant,index) in restaurants" :value="restaurant.id">
                        {{restaurant.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    import {getRestaurantList} from "../../helpers/restaurant";

    export default {
        name: "SelectRestaurant",
        data() {
            return {
                restaurants: [],
                restaurantId:null,
            };
        },
        watch:{
            restaurantId(newVal){
                if (this.$store.getters.restaurantId !==newVal){
                    this.$store.commit("setRestaurantId",newVal);
                }
                this.$emit('change');
            },
        },
        mounted() {
            getRestaurantList()
                .then(response => {
                    this.restaurants = response.restaurants;
                })
                .catch(error => {
                    console.log(error);
                });
            this.restaurantId = this.$store.getters.restaurantId;
        }
    }
</script>

<style scoped>

</style>
