<template>
    <div class="login row justify-content-center h-100">
        <div class="col-12">
            <div class="page-heading">
                <h2>Login</h2>
            </div>
            <div class="page-content pt-5">

                <div class="card mt-5">
                    <div class="card-body">

                        <div v-if="authError" class="col-12 alert alert-danger">
                            {{authError}}
                        </div>

                        <form @submit.prevent="authenticate" class="px-2">

                            <div class="form-group row">
                                <label for="email" class="col-md-6">Email</label>
                                <input id="email" type="email" v-model="form.email" class="form-control col-md-6"
                                       placeholder="Email Id">
                            </div>

                            <div class="form-group row">
                                <label class="col-md-6" for="password">Password</label>
                                <input id="password" type="password" v-model="form.password"
                                       class="form-control col-md-6">
                            </div>

                            <div class="form-group row justify-content-center">
                                <button class="btn btn-dark">Login</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {login} from "../../helpers/auth";

    export default {
        name: "Login",
        data() {
            return {
                form: {
                    email: '',
                    password: '',
                },
                error: '',
            }
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');

                login(this.$data.form)
                    .then((res) => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({path: '/waiting-list'});
                    })
                    .catch((error) => {
                        this.$store.commit("loginFailed", {error});
                    });

            },
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            },
        },
    }
</script>

<style scoped>

</style>
