<template>
    <div class="login row justify-content-center h-100">
        <div class="col-12">
            <div class="page-heading">
                <h2>Register</h2>
            </div>
            <div class="page-content pt-5">

                <div class="card mt-5">
                    <div class="card-body">

                        <div v-if="registerError" class="col-12 alert alert-danger">
                            <ul>
                                <li v-for="(error,key) in registerError">
                                    {{key}}: {{error.join(",")}}
                                </li>
                            </ul>
                        </div>
                        <form @submit.prevent="registerAccount" class="mx-2">

                            <div class="form-group row">
                                <label for="email" class="col-md-6">Name</label>
                                <input id="name" type="text" v-model="form.name" class="form-control col-md-6"
                                       placeholder="Full name">
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-6">Email</label>
                                <input id="email" type="text" v-model="form.email" class="form-control col-md-6"
                                       placeholder="Email">
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-6">Password</label>
                                <input id="password" type="password" v-model="form.password" class="form-control col-md-6">
                            </div>

                            <div class="form-group row justify-content-center">
                                <button class="btn btn-success">Register</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {register} from "../../helpers/auth";

    export default {
        name: "Register",
        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    password: '',
                },
            }
        },
        computed: {
            registerError() {
                return this.$store.getters.registerError;
            },
        },
        methods: {
            registerAccount() {
                this.$store.dispatch('register');

                register(this.$data.form)
                    .then((res) => {
                        this.$store.commit("registerSuccess", res);
                        this.$router.push({path: '/'});
                    })
                    .catch((error) => {
                        this.$store.commit("registerFailed", {error});
                    });

            },
        },
    }
</script>

<style scoped>

</style>
