<template>
    <div class="col-12">
        <div class="row">
            <div class="col-md-4 my-2" v-for="(assignment,key) in assignments">
                <AssignmentCard  :key="key" :assignment="assignment"></AssignmentCard>
            </div>
        </div>
    </div>
</template>

<script>
    import AssignmentCard from "./AssignmentCard";
    import {getAssignments} from "./../../helpers/assignments"

    export default {
        name: "AssignmentList",
        components: {AssignmentCard},
        data() {
            return {
                assignments:[],
            }
        },
        methods:{
            getData(){
                getAssignments()
                    .then((response) =>{
                        this.assignments = response.assignments;
                    })
                    .catch(error => console.log(error));
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
