<template>
    <div id="WaitingList" class="row justify-content-center">
        <div class="col-12">
            <div class="page-heading">
                <div class="row">
                    <div class="col">
                        <h2>Assignments Or Tables</h2>
                    </div>
                    <div class="col-auto">
                        <router-link to="/assignments/new" class="btn btn-success"><i class="fa fa-plus"></i> add</router-link>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AssignmentsMain"
    }
</script>

<style scoped>

</style>
