<template>
    <div v-if="invalidId" class="alert alert-danger">
        {{errors.msg}}
    </div>
    <form v-else @submit.prevent="save">
        <h3>Add new assignment or table</h3>
        <hr>
        <div v-if="errors" class="col-12 alert alert-danger">
            <ul>
                <li v-for="(error,key) in errors">
                    {{key}}: {{error.join(",")}}
                </li>
            </ul>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label for="assignment-name">Label</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="assignment-name" class="form-control" v-model="form.name" placeholder="Table 1"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="assignment-description">Description/Notes</label>
            </div>
            <div class="col-md-6">
                <textarea type="text" id="assignment-description" class="form-control"
                          v-model="form.description"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="assignment-capacity">capacity</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="assignment-capacity" class="form-control" v-model="form.capacity"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="assignment-average-time">average wait time(minutes)</label>
            </div>
            <div class="col-md-6">
                <input type="text" id="assignment-average-time" class="form-control" v-model="form.average_time"/>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-auto">
                <button class="btn btn-success">Save</button>
            </div>
        </div>

    </form>
</template>

<script>
    import {saveAssignment, getAssignmentsData} from './../../helpers/assignments';

    export default {
        name: "AssignmentsForm",
        data() {
            return {
                form: {
                    id: null,
                    name: '',
                    description: '',
                    capacity: 0,
                    average_time: 0,
                },
                errors: null,
                invalidId: false,
            };
        },
        methods: {
            getData(id) {
                getAssignmentsData(id)
                    .then(response => {
                        this.form = response.assignment;
                    })
                    .catch(error => {
                        this.invalidId = true;
                        this.errors = {
                            msg: error
                        };
                    });
            },
            save() {
                this.errors = null;
                saveAssignment(this.form)
                    .then((response) => {
                        this.$router.push('/assignments');
                    })
                    .catch(errors => this.errors = errors);
            },
        },
        mounted() {
            var id = this.$route.params.id;
            if (id) {
                this.getData(id);
            }
        }
    }
</script>

<style scoped>

</style>
