<template>
    <div class="card">
        <div class="card-header">
            <h3>{{assignment.name}}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">Description: {{assignment.description}}</div>
                <div class="col">Capacity: {{assignment.capacity}}</div>
                <div class="col">{{assignment.average_time}}</div>
                <div class="col">
                    <router-link :to="'/assignments/edit/'+assignment.id" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></router-link>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AssignmentCard",
        props: ['assignment'],
    }
</script>

<style scoped>

</style>
