<template>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="page-heading">
                <h2>Waiting List</h2>
            </div>
            <div class="page-content">
                <div class="col-12 my-4">
                    <SelectRestaurant></SelectRestaurant>
                </div>
                <div class="col-12 p-2 bg-white">
                    <WaitingListPublic :restaurant-id="restaurantId" :waiting-id="waitingId"></WaitingListPublic>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SelectRestaurant from "./Restaurant/SelectRestaurant";
    import WaitingListPublic from "./WaitingList/WaitingListPublic";
    export default {
        name: "Home",
        components: {WaitingListPublic, SelectRestaurant},
        computed:{
            restaurantId(){
                return this.$store.getters.restaurantId;
            },
            waitingId(){
                return this.$store.getters.waitingId;
            },
        },
        methods:{
        },
        created() {
            if (this.$route.params.restaurantId){
                this.$store.commit('setRestaurantId',this.$route.params.restaurantId);
                this.$store.commit('setWaitingId',this.$route.params.waitingId);
            }
        }

    }
</script>

<style scoped>

</style>
