<template>
    <div id="main" class="h-100">
        <LoadingOverlay/>
        <div class="pb-5 mb-5">
            <router-view></router-view>
        </div>
        <Navigation/>
    </div>
</template>

<script>
    import Navigation from "./Navigation";
    import LoadingOverlay from "./Other/LoadingOverlay";

    export default {
        name: 'main-app',
        components: {LoadingOverlay, Navigation},
    }
</script>
<style scoped>
    #main {
        width: 100%;
        overflow-x: hidden;
        background-color: #fafafa;
    }
</style>
