<template>
    <nav class="navbar fixed-bottom navbar-light bg-light p-0">
        <div class="icon-bar">
            <div class="row justify-content-center">
                <template v-if="!currentUser">
                    <router-link to="/">
                        <i class="fa fa-home"></i>
                    </router-link>
                    <router-link to="/login">Login</router-link>
                </template>
                <template v-else>
                    <router-link to="/">
                        <i class="fa fa-home"></i>
                    </router-link>
                    <router-link to="/waiting-list">
                        <i class="fa fa-hourglass"></i>
                    </router-link>
                    <router-link to="/assignments">
                        <i class="fa fa-list"></i>
                    </router-link>
                    <router-link to="/customers">
                        <i class="fa fa-address-book"></i>
                    </router-link>
                    <a href="#" @click.prevent="logout">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </template>
            </div>
        </div>
    </nav>
</template>

<script>
    import {logout} from "../helpers/auth";

    export default {
        name: "Navigation",
        computed:{
            currentUser() {
                return this.$store.getters.currentUser;
            },
        },
        methods:{
          logout() {
              logout(this.$store,this.$router);
          },
        },
    }
</script>

<style scoped>
    .icon-bar {
        width: 100%; /* Full-width */
        background-color: #343a40; /* Dark-grey background */
    }

    .icon-bar a {
        float: left; /* Float links side by side */
        text-align: center; /* Center-align text */
        width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
        padding: 12px 0; /* Some top and bottom padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */

    }

    .icon-bar a:hover {
        background-color: #000; /* Add a hover color */
    }

    .active {
        background-color: #4CAF50; /* Add an active/current color */
    }
</style>
