<template>
    <div id="WaitingList" class="row justify-content-center">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "WaitingListMain"
    }
</script>

<style scoped>

</style>
