<template>
    <div class="col-12">
        <div class="page-heading">
            <div class="row">
                <div class="col">
                    <h2>Waiting List</h2>
                </div>
                <div class="col-auto">
                    <router-link to="/waiting-list/new" class="btn btn-success"><i class="fa fa-plus"></i> add
                    </router-link>
                </div>
            </div>
        </div>
        <div class="page-content">
            <h3 class="p-2 text-center">Waiting</h3>
            <div v-if="activeWaitListss.length<1" class="alert alert-secondary text-center col-12">
                No one is waiting
            </div>
            <div v-else v-for="(waitList,key) in activeWaitListss" class="col-12 p-0">
                <WaitListCard :item="waitList" :number="key+1"></WaitListCard>
            </div>
            <hr>
            <h3 class="p-2 text-center">Served</h3>
            <div v-for="(waitList,key) in servedWaitLists" class="col-12 p-0">
                <WaitListCard :item="waitList" :number="key+1"></WaitListCard>
            </div>
        </div>
    </div>
</template>

<script>
    import WaitListCard from "./WaitListCard";
    import {getWaitLists} from "./../../helpers/waitList";

    export default {
        name: "WaitListTable",
        components: {
            WaitListCard,
        },
        data() {
            return {
                waitLists: [],
            };
        },
        computed: {
            activeWaitListss() {
                return this.waitLists.filter(value => value.served_at == null);
            },
            servedWaitLists() {
                return this.waitLists.filter(value => value.served_at != null);
            }
        },
        methods: {
            getData() {
                getWaitLists()
                    .then(response => {
                        this.waitLists = response.waitLists;
                    });
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
