<template>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Wait Time</th>
            <th>Time Waited</th>
        </tr>
        </thead>
        <tbody>
            <wait-list-item-public v-for="(waitList, index) in waitLists" :key="index" :waitlist="waitList" :index="index" :is-active="waitingId == waitList.id"></wait-list-item-public>
        </tbody>
    </table>
</template>

<script>
    import {getPublicWaitlists} from "../../helpers/waitList";
    import WaitListItemPublic from "./WaitListItemPublic";

    export default {
        name: "WaitingListPublic",
        components: {WaitListItemPublic},
        props: ['restaurantId', 'waitingId'],
        data() {
            return {
                waitLists: [],
            };
        },
        watch:{
          restaurantId(){
              this.getData();
          },
        },
        methods: {
            getData() {
                var restaurantId = this.restaurantId;
                if (!restaurantId) {
                    return;
                }
                getPublicWaitlists(restaurantId)
                    .then((response) => {
                        this.waitLists = response.waitLists;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            cancel() {

            },
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
