<template>
    <div class="card mt-2">
        <div class="card-header">
            <div class="col-12 p-0">
                <div class="row">
                    <div class="col-7 p-0 p-l-1">
                        <span class="badge badge-primary p-1">#{{number}}</span>
                        <strong>{{item.customer.name}}</strong>
                    </div>

                    <div @click="cancel" class="col-5 text-right p-0 pr-1">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i>
                        </button>
                        <router-link :to="'/waiting-list/edit/'+item.id" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil-square-o"></i>
                        </router-link>
                        <button @click="serve" class="btn  btn-success btn-sm">
                            <i class="fa fa-check-square-o"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="col-12 p-0">

                <div class="row">

                    <div class="col-6">
                        Quoted: <b>{{waitTime}} min</b>
                    </div>

                    <div class="col-6">
                        Waited: <b>{{timeWaited}} min</b>
                    </div>

                </div>

                <div class="row">
                    <div class="col-6">
                        people: <strong>{{item.quantity}}</strong>
                    </div>
                    <div class="col-6">
                        table: <strong>{{item.assignment.name}}</strong>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {serve} from "../../helpers/waitList";

    export default {
        name: "WaitListCard",
        props: ['item','number'],
        computed: {
            waitTime() {
                return this.item.serve_in;
            },
            timeWaited() {
                const startDate = moment(this.item.reporting_time);

                var elapsedDuration = moment.duration(moment().diff(startDate));

                if (this.item.served_at){
                    elapsedDuration = moment.duration(moment(this.item.served_at).diff(startDate));
                }

                return Math.round(elapsedDuration.asMinutes());
            }
        },
        methods:{
            serve(){
                serve(this.item.id)
                    .then((response)=>{
                        this.item.served_at = response.served_at;
                    });
            },
            cancel(){

            },
        },
    }
</script>

<style scoped>

</style>
