<template>
    <tr :class="{'table-active':isActive}">
        <td>{{index+1}}</td>
        <td>{{waitlist.customer.name}}</td>
        <td>{{waitTime}}</td>
        <td>{{timeWaited}}</td>
    </tr>
</template>

<script>
    export default {
        name: "WaitListItemPublic",
        props: ['waitlist', 'index', 'isActive'],
        computed: {
            waitTime() {
                return this.waitlist.serve_in;
            },
            timeWaited() {
                const startDate = moment(this.waitlist.reporting_time);

                var elapsedDuration = moment.duration(moment().diff(startDate));

                if (this.waitlist.served_at) {
                    elapsedDuration = moment.duration(moment(this.waitlist.served_at).diff(startDate));
                }

                return Math.round(elapsedDuration.asMinutes());
            },
        },
    }
</script>

<style scoped>

</style>
