<template>
    <div class="col-12">
        <div class="page-heading">
            <div class="row">
                <div class="col-auto">
                    <router-link to="/waiting-list" class="btn btn-dark"><i class="fa fa-arrow-left"></i> back
                    </router-link>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div v-if="invalidId" class="col-12 text-center mt-1 alert alert-danger">
                Invalid Waiting List Item
            </div>
            <div v-else class="col-12">
                <form @submit.prevent="save">

                    <h3>Customer</h3>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="customer-phone">Phone</label>
                        </div>
                        <div class="col-md-6">
                            <input type="number" id="customer-phone" class="form-control" v-model="customer.phone"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="customer-name">Full Name</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="customer-name" class="form-control" v-model="customer.name"/>
                        </div>
                    </div>

                    <hr>

                    <h3>Assign to</h3>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <input type="text" class="form-control" v-model="form.quantity"
                                   placeholder="Number of person"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <select class="form-control" v-model="form.assignment_id">
                                <option v-for="(assignment,index) in assignments" :value="assignment.id">
                                    {{assignment.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <hr>

                    <h3>Time</h3>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="wait-time">Wait Time</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="wait-time" class="form-control" v-model="form.serve_in"
                                   placeholder="5 Minutes"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="wait-time">Notes</label>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" v-model="form.notes"
                                      placeholder=""></textarea>
                        </div>
                    </div>


                    <hr>
                    <div class="row form-group justify-content-center">
                        <div class="col-auto text-center">
                            <router-link to="/waiting-list" class="btn btn-dark"><i class="fa fa-ban"></i> Cancel
                            </router-link>
                            <button class="btn btn-success">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</template>

<script>
    import {getAssignments} from "../../helpers/assignments";
    import {searchCustomer} from "../../helpers/customer";
    import {getWaitListData, saveWaitList} from "../../helpers/waitList";

    export default {
        name: "WaitListForm",
        data() {
            return {
                form: {
                    id:null,
                    assignment_id: null,
                    quantity: null,
                    serve_in: null,
                    notes:null,
                },
                customer: {
                    id: null,
                    phone: '',
                    name: '',
                },
                assignments: [],
                invalidId:false,
            };
        },
        watch: {
            'customer.phone'(val, oldVal) {
                if (
                    val
                    && val.length >= 10
                    && this.customer.id == null
                ) {
                    searchCustomer({phone: val})
                        .then((response) => {
                            if (response.customer) {
                                this.customer.id = response.customer.id;
                                this.customer.name = response.customer.name;
                            }
                        })
                        .catch(error => console.log(error));

                } else if(val.length < 10) {
                    this.customer.id = null;
                }
            },
        },
        computed: {},
        methods: {
            save() {
                saveWaitList(this.form, this.customer)
                    .then((response) => {
                        this.$router.push('/waiting-list');
                    })
                    .catch(errors => this.errors = errors);
            },
            getData(id){
                getWaitListData(id)
                    .then(response => {
                        this.form = response.waitList;
                        this.customer = response.customer;
                    })
                    .catch(error => {
                        this.invalidId = true;
                        this.errors = {
                            msg: error
                        };
                    });
            },
        },
        mounted() {
            getAssignments()
                .then(response => {
                    this.assignments = response.assignments;
                });
            let id = this.$route.params.id;
            if (id) {
                this.getData(id);
            }
        }
    }
</script>

<style scoped>

</style>
